<link href="css/main_transect.css" rel="stylesheet">
<ion-view view-title="" hide-back-button="true">

<ion-nav-buttons side="left">
   <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="goBack()" ></a>
   <a align="left" class="button button-icon" ng-click="goBack()">
      <img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details
   </a> 
</ion-nav-buttons>
    
<ion-content class="padding body">
    <div class="row" style="height:70px;">
               <div class="col col-33" align="left">
                    <button id="btnSubmitLandCover" class="button button-balanced" style="display:none;"
				            ng-click="submitLandCoverData();">Submit</button>
               </div>
               <div class="col col-33">
               </div>
               <div class="col col-33" align="right">
                    <button id="btnSummaryLandCover" class="button button-balanced" style="display:none;"
				            ng-click="summaryLandCoverData();">Summary</button>
               </div> 
    </div>
    
    <div class="row" style="height:100px;">
               <div class="col col-33">
                    
               </div>
               <div class="col col-33" align="center">
                    <img class="content" ng-src="/img/north.jpg" ng-click="goto_Navigator_Transect('NORTH')" style="width:40%; height:90%" />
               </div>
               <div class="col col-33">
                    
               </div> 
    </div>
    <div class="row" style="height:100px;">
               <div class="col col-33" align="right">
                    <img class="content" ng-src="/img/west.jpg" ng-click="goto_Navigator_Transect('WEST')" style="width:40%; height:90%" />
               </div>
               <div class="col col-33" align="center">
                    <img class="content" ng-src="/img/lpks_logo.png" ng-click="goto_LandInfo()" style="width:40%; height:90%" />
               </div>
               <div class="col col-33" align="left">
                    <img class="content" ng-src="/img/east.jpg" ng-click="goto_Navigator_Transect('EAST')" style="width:40%; height:90%" />
               </div> 
    </div>     
    <div class="row" style="height:100px;">
               <div class="col col-33">
                    
               </div>
               <div class="col col-33" align="center">
                    <img class="content" ng-src="/img/south.jpg" ng-click="goto_Navigator_Transect('SOUTH')" style="width:40%; height:90%" />
               </div>
               <div class="col col-33">
                    
               </div> 
    </div>
    
    <br/>
	<label class="item item-input"> 
	    <span class="input-label">Dominant Woody Secies (by cover)</span>
	</label> 
	<label class="item item-input"> 
	    <input type="text" id="dominant_woody" ng-model="dominant_woody_species"/>
	</label> 
	<br/>
	
	<label class="item item-input"> 
	    <span class="input-label">Dominant NonWoody Secies (by cover)</span>
	</label> 
	<label class="item item-input"> 
	    <input type="text" id="dominant_woody" ng-model="dominant_nonwoody_species"/>
	</label> 
	<br/>
	
	<div id="previously_submitted_date" style="display:none;">
		<label class="item item-input"> 
		    <span class="input-label">View previously submitted data</span>
		</label> 
		<label class="item item-input"> 
		    <select ng-model="previously_submitted_date" ng-change="selectPreviouslySubmmittedDate(previously_submitted_date);">
		      <option value="ADD_OLD">Insert data</option>
		      <option value="VIEW_OLD">View Old</option>
		    </select>
		</label> 
	</div>
		
	<br/>
</ion-content>
</ion-view>