<ion-tabs class="tabs-item-hide">

        <ion-tab title="LandCover" icon="ion-home" href="#/landcover/main">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios-information" href="#/landcover/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Settings" icon="ion-gear-b" ui-sref="landcover.settings">
          <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>
      
        
      </ion-tabs>

    