 <link href="css/navigator_transect.css" rel="stylesheet">
 <link href="css/tab.css" rel="stylesheet">
 
 <ion-view view-title="" hide-back-button="true" cache-view="false">
 <ion-nav-buttons
    side="left">
  <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="goBack()" ></a>
  <a align="left" class="button button-icon"
    ng-click="goBack()"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} - {{direction}} transect - {{segment}}</a>
  </ion-nav-buttons>
      
  <div class="tabs tabs-striped tabs-top tabs-background-stable tabs-color-positive">
      <a class="tab-item active" href="#/landcover/transect_cover">
        <b>COVER</b>
      </a>
      <a class="tab-item" href="#/landcover/transect_height_gap">
        <b>HEIGHT/GAP</b>
      </a>
  </div>
  
  <div>

    <ion-content class="padding body">

	<br>
    <br>
    <br>
    
	
    <div class="row" style="height:100px;">
               <div class="col col-24">
                  
               </div>
               <div class="col col-24">
                   
               </div>
               <div class="col col-24">
                   
               </div>
               <div class="col col-24">
                   
               </div>
               <div class="col col-24">
                   
               </div>
               
    </div>
     <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div> 
     <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div> 
    <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div>
    <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div>
    <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div>
    <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div>
    <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div>
    <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div>
    <div class="row" style="height:100px;">
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               <div class="col col-24">
                   <img class="content" ng-src="{{landcover_current_tree}}" ng-click="selectPart1('tree')" style="width:98%; height:85%" />
               </div>
               
    </div> 
      
  </ion-content>
  </div>
</ion-view>