 <link href="css/navigator_transect.css" rel="stylesheet">
 <ion-view view-title="" hide-back-button="true" cache-view="false">
 <ion-nav-buttons
    side="left">
  <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="goBack()" ></a>
   <a align="left" class="button button-icon"
    ng-click="goBack()"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} - West transect</a> </ion-nav-buttons> 

        <ion-content class="padding body">
            <a class="item item-icon-right soillayer" ng-click="goToSegment('WEST','5m');">5m
               <img  ng-src="{{status_west_5m}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" ng-click="goToSegment('WEST','10m');">10m
               <img  ng-src="{{status_west_10m}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" ng-click="goToSegment('WEST','15m');">15m
               <img  ng-src="{{status_west_15m}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" ng-click="goToSegment('WEST','20m');">20m
               <img  ng-src="{{status_west_20m}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" ng-click="goToSegment('WEST','25m');">25m
               <img  ng-src="{{status_west_25m}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
        </ion-content>
</ion-view>